@font-face {
    font-family: 'proxima_novabold';
    src: url('../fonts/proximanova-bold-webfont.eot');
    src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-bold-webfont.woff') format('woff'),
         url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-bold-webfont.svg#proxima_novabold') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1, h2, h3{
  font-family: 'proxima_novabold';
}
// FOUNDATION OVERRIDES --START
ul, ol, dl{
  margin-bottom: 0;
}
// bug fix for margin extending too far in footer
footer .row .row{
  margin-left: 0px;
  margin-right: 0px;
}
// fix menu dropdown placement bug
.is-dropdown-submenu{
  top: inherit !important;
  left: inherit !important;
}
// preset margins suck, need to fix that
#buyWrap .small-12.med-large-expand, .small-4, .medium-5, .medium-5 ul{
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0;
}
// FOUNDATION OVERRIDES --END

*{
  list-style-type: none;
  margin: 0;
  font-weight: 300;
}
p{
  font-size: 16px;
}
a{
  color: $blue;
}
button:focus{
  // border: transparent !important;
  box-shadow: none;
  background-image: none;
  outline: none;
}

@mixin centerChildren {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin comingButton{
  font-weight: 500;
  font-size: 14px;
}
@mixin sectionBottomPad{
  padding-bottom: $pad * 6;
}
@mixin sectionTopPad{
    padding-top: $pad * 4;
}



.navWrap{
  background: $white;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}
nav{
  // background: transparent !important;
  .top-bar, .top-bar-left ul, .top-bar-right ul{
    background: $white;
  }
  a{
    text-transform: uppercase;
    color: $black !important;
    font-size: 15px;
}
  .top-bar-left {
    li{
      padding: 0;
    }
    img{
    height: 60px;

  }
}
  .top-bar-right ul:first-child{
    padding-top: 24px;
  }
  .top-bar-right ul li img:last-child{
    padding-bottom: 2px;
  }
  //fix dropdown arrow bug
 a#navLang::after, a#supportDropdown::after{
    @include breakpoint(medium up) {
      @include css-triangle(5px, $dropdownmenu-arrow-color, down);
      position: relative;
      top: rem-calc(2px) + rem-calc(get-side($menu-item-padding, top));
      #{$global-right}: 5px;
    }
  }
  a#navLang::after{
    @include breakpoint(medium up) {
      margin-top: -8px !important;
    }
  }
  .top-bar-right li.has-submenu a::after{
    @include breakpoint(medium up) {
      margin-top: -13px !important;
    }
  }
  .top-bar-left{
    @include breakpoint(medium down) {
      display: none;
      visibility: hidden;
      position: absolute;
    }
  }
  .top-bar-right ul{
    @include breakpoint(medium down) {
      padding-top: 0 !important;
    }
  }
  .top-bar-right ul a{
    @include breakpoint(medium down) {
      font-size: 12px;
    }
  }
  .top-bar-right ul a::after{
    @include breakpoint(medium down) {
      margin-top: 0;
    }
    @include breakpoint(small down) {
      margin-top: -5px !important;
    }
  }
  .top-bar-right ul a{
    @include breakpoint(small down) {
      font-size: 15px;
    }
  }
}
@include breakpoint(medium up) {
  nav li.menu-text{
    padding-left: 0;
    padding-right: 0;
  }
  nav .top-bar{
    padding-left: 0;
    padding-right: 0;
  }
  nav .last{
    padding-right: 0 !important;
  }
  nav .submenu a{
      padding-right: $pad / 2 !important;
  }
}
.top-bar-right a{
  @include breakpoint(med-large down) {
    padding-right: 1rem !important;
  }
}

.title-bar{
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}
nav .submenu li{
  // box-shadow: 0 10px 6px -6px #777;
  border-bottom: 1px solid $light-gray;


}
nav .submenu li:last-child{
  border-bottom: 0px solid $light-gray;
}

// figure{
//   // background-size: cover;
// margin: 0;
// }
.banner{
  background: url(../img/banner1600.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 150px;
  text-transform: capitalize;
  .row{
    height: 150px;
  }
  h1{
    text-align: center;
    margin-bottom: 0;
    color: $medium-gray;
    @include flex-grid-column(12);
    @include flex-grid-column-align(middle);
    // z-index: 2;
  }
}



// .banner{
//   background-image:url(../img/banner1600.png);
//   background-size: cover;
//   height: 200px;
//   text-transform: capitalize;
//   // .row{
//   //   height: 200px;
//   // }
//   h1{
//     text-align: center;
//     margin-bottom: 0;
//     color: $medium-gray;
//     @include flex-grid-column(12);
//     @include flex-grid-column-align(middle);
//     z-index: 100000;
//   }
// }





#about{
  background: url(../img/waterFog.jpg);
  background-size: cover;
  padding-top: $pad * 3;
  padding-bottom: $pad * 3;
  @include breakpoint(med-large down) {
    display: none;
    visibility: none;
  }
}
.bubbleWrap{
  &.row{
    max-width: 1400px;
  }
  .column{
    background-color: #fabe00;
    // border: $borderTest;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
    // margin: 20px;
    @include centerChildren;
    text-align:center;
    color: $white;
    font-weight: 900;
    text-transform: uppercase;
  }
  .column.secondary{
    background-color: #86c0ea;
    height: 140px;
    width: 140px;
    max-width: 140px;
    max-height: 140px;
    min-width: 140px;
    min-height: 140px;
  }
  .column.tertiary{
    background-color: #2ab8b0;
    height: 130px;
    width: 130px;
    max-width: 130px;
    max-height: 130px;
    min-width: 130px;
    min-height: 130px;
  }
  .video{
    width: 250px;
    max-width: 250px;
    background: transparent;
    img{
      border-radius: 150px;
    }
  }
}
.bubbleWrap.row1{
  button:nth-child(1){
     margin-top: $pad;
     margin-left: $pad * 2;
     @include breakpoint(xlarge down) {
       margin-left: $pad / 2;
     }
  }
  button:nth-child(2){
     margin-top: $pad * 8;
     margin-left: $pad * 3;
     @include breakpoint(xlarge down) {
       margin-left: 0;
       margin-top: $pad * 7;
     }
  }
  button:nth-child(3){
     margin-top: $pad;
     margin-left: $pad;
     @include breakpoint(xlarge down) {
       margin-left: 0;
     }
  }
  button:nth-child(4){
     margin-top: -$pad / 2;
     margin-left: $pad;
     @include breakpoint(xlarge down) {
       margin-left: 0;
       margin-top: -$pad * 2;
     }
  }
  button:nth-child(5){
     margin-top: $pad * (7 / 2);
     margin-left: $pad;
     @include breakpoint(xlarge down) {
       margin-left: -$pad * 4;
       margin-top: $pad * 7;
     }
  }
  button:nth-child(6){
     margin-top: 0;
     margin-left: $pad * 3;
     margin-right: $pad / 3;
     @include breakpoint(xlarge down) {
       margin-left: -$pad * 2;
       margin-top: -$pad;
     }
  }
}
.bubbleWrap.row2{
  button:nth-child(1){
     margin-top: -$pad * 3;
     margin-left: $pad * 6;
     @include breakpoint(xlarge down) {
       margin-left: $pad / 2;
    }
  }
  button:nth-child(2){
     margin-top: $pad * 3;
     margin-left: $pad;
     @include breakpoint(xlarge down) {
       margin-left: 0;
       margin-top: $pad * 5;
    }
  }
  button:nth-child(3) img{
      @include breakpoint(xlarge down) {
        width: 200px;
        max-width: 200px;
    }
  }
  button:nth-child(3){
            margin-top: -$pad * 3;
      @include breakpoint(xlarge down) {
        width: 200px;
        max-width: 200px;
        margin-left: -$pad;
        margin-top: -$pad;
    }
  }
  button:nth-child(4){
    margin-top: $pad * 2;
    margin-left: $pad / 2;
    @include breakpoint(xlarge down) {
      // margin-left: $pad;
      margin-top: $pad * 5;
    }
  }
  button:nth-child(5){
     margin-top: $pad;
     margin-left: $pad;
     margin-right: $pad;
     @include breakpoint(xlarge down) {
       margin-left: 0;
       margin-top: $pad;
     }
  }
}
.bubbleWrap.row3{
  button:nth-child(1){
     margin-top: -$pad * 2;
     margin-left: $pad;
     @include breakpoint(xlarge down) {
       margin-left: $pad / 2;
    }
  }
  button:nth-child(2){
     margin-top: $pad * 2;
     margin-left: $pad;
     @include breakpoint(xlarge down) {
       margin-left: -$pad * 2;
       margin-top: $pad * 6;
    }
  }
  button:nth-child(3){
     margin-top: 0;
     margin-left: $pad * 5;
     @include breakpoint(xlarge down) {
       margin-left: 0;
       margin-top: $pad;
     }
  }
  button:nth-child(4){
     margin-top: -$pad * (3 / 2);
     margin-left: $pad * 3;
     @include breakpoint(xlarge down) {
       margin-left: 0;
    }
  }
  button:nth-child(5){
     margin-top: $pad * 6;
     margin-left: $pad;
     @include breakpoint(xlarge down) {
       margin-left: -$pad * 2;
    }
  }
  button:nth-child(6){
     margin-top: $pad * 2;
     margin-left: $pad * 2;
     margin-right: $pad;
     @include breakpoint(xlarge down) {
       margin-left: 0;
    }
  }
}








#stats{
  background: $medium-gray;

}

.statsInside{
  text-align: center;
  height: 250px;
  @include flex-grid-row(null, 1400px);
  @include flex-grid-row-align(justify, middle);
}
#dataWrap1, #dataWrap2, #dataWrap3, #dataWrap4{
  @include flex-grid-column();
  @include breakpoint(medium down) {
    @include flex-grid-column(6);
  }
}
#data1, #data2, #data3, #data4{
  color: $blue;
  font-size: 54px;
  font-weight: 300;
}
#dataText1, #dataText2, #dataText3, #dataText4{
  color: $white;
  font-weight: 400;
  font-size: 18px;
  margin-top: -12px;
}

// #dataText4{
//   display: none;
// }







.client{
  background: url(../img/clientBackground.jpg);
  background-size: cover;
  @include sectionTopPad;
  @include sectionBottomPad;
}
.client .columns{
  // background: $test;
  // border: $borderTest;
  img{
    width:670px;
    min-width:670px;
    overflow: visible;
    @include breakpoint(medium down) {
      width: 400px;
      min-width:400px;
    }
    @include breakpoint(small down) {
      width: 300px;
      min-width:300px;
      margin: 0 auto !important;
    }
  }
}
.client{
  h3{
    font-weight: 700;
    @include breakpoint(medium down) {
      font-size: 20px;
    }
  }
  .helpAlt p{
    text-align: center;
    opacity: 0;
    display: none;
    visibility: hidden;
    font-size: 14px;
    @include breakpoint(medium down) {
      opacity: 1;
      visibility: visible;
      display: block;
    }
  }
  .large-6{
    padding-left: 0px;
    padding-right: 0px;
    @include breakpoint(large down) {
      padding-right: $pad;
    }
    @include breakpoint(medium down) {
      padding-right: 0px;
    }
    @include breakpoint(small down) {
      padding-left: $pad;
    }
    p{
      max-width: 520px;
      font-weight: 300;
      @include breakpoint(medium down) {
        font-size: 16px;
      }
    }
    p:last-child{
      max-width: 520px;
      font-size: 14px;
      font-weight: 300;
      @include breakpoint(medium down) {
        font-size: 12px;
        opacity: 0;
        visibility: hidden;
        // display: none;
      }
      @include breakpoint(small down) {
        font-size: 12px;
        opacity: 0;
        visibility: hidden;
        display: none;
      }
    }
    button{
      opacity: 1;
      visibility: visible;
      display: block;
      @include breakpoint(medium down) {
        opacity: 0;
        visibility: hidden;
        display: none;
      }
    }
    button.alt{
      opacity: 0;
      visibility: hidden;
      display: none;
      @include breakpoint(medium down) {
        opacity: 1;
        visibility: visible;
        display: block;
      }
    }
  }
}

.clientBottom{
  text-align: right;
  p{
    max-width: 400px;
    margin: 0 0 0 auto;
  }
  .columns{
    margin-top: $pad * (5 / 2);
  }
  span button{
    margin-top: $pad / 2;
    @include comingButton;
  }
}
.client .row.align-middle{
  margin: 0 auto;
}




#buyHeaderWrap h2{
    text-align: center;
    margin-bottom: 0;
    font-weight: 300;
}
#buyHeaderWrap{
  height: 200px;
}
#buy{
  background: url(../img/geometry.png);
  padding-top: $pad * 6;
  @include sectionBottomPad;
  // margin-bottom: -45px;

}
#buyWrap{
  text-align: center;
  img{
    min-width: 64px;
    height: 64px;
  }
  .arrows{
    padding-top: (64px - 50px) / 2;
    img{
      min-width: 50px;
      height: 50px;
    }
  }
  div{
    margin-right: $pad;
    // background-color: $test;
    //   border: $borderTest;
  }
  div:last-child{
    margin-right: 0px;
  }
  .row.icons{
    margin: 0 auto;
    margin-top: $pad;
    .columns{
      text-align: center;
      margin: 0;
    }
  }
}
#buyWrap .align-center{
  margin: 0;
  margin-top: $pad * 3;
  min-height: 48px;
  span{
    @include comingButton;
  }
}
#buyBox1, #buyBox2, #buyBox3{
  padding-bottom: $pad;
  background: $white;
  span button{
    padding-top: $pad * 1.5;
  }
  @include breakpoint(medium down) {
    margin-bottom: $pad;
  }
}
#buyBox3 .medium-8{
  padding-top: 12px;
}
#buyBar{
  text-align: center;
  .row{
    margin-top: $pad;
    padding-top: $pad / 2;
    padding-bottom: $pad / 2;
    background-color: $white;
    @include breakpoint(medium down) {
      padding-top: $pad;
      padding-bottom: $pad / 2;
  }
  }
    img{
    height: 16px;
    @include breakpoint(medium down) {
      margin-bottom: $pad / 2;
  }
}
  .columns:first-of-type img{
    // height: 20px;
    // margin-top: -4px;
  }
  .columns:nth-of-type(2) img{
        height: 19px;
  }

  .columns:nth-of-type(4) img{
        height: 21px;
  }
.columns:last-of-type img{
  height: 23px;
  margin-top: -4px;
  }
}







.divTopper img{
  width: 100%;
}
#help{
  li{
    margin-top: $pad / 3;
    margin-bottom: $pad / 3;
  }
}
.helpWrap{
  padding-top: 80px;
  padding-bottom: 80px;
  font-weight: 300;
  .fa-square{
    color: $light-gray;
  }
}
.helpWrap div:first-child{
  text-align: center;
  font-size: 32px;
  @include breakpoint(medium down) {
    margin-bottom: $pad * 2;
  }
}
.helpText{
  // color: $primary-color;
  font-weight: 400;
  @include breakpoint(small down) {
    opacity: 0;
    position: absolute;
  }
}
.helpText.hasAlt{
  @include breakpoint(med-large down) {
    opacity: 0;
    position: absolute;
  }
}
.helpTextAlt{
  @include breakpoint(large up) {
    opacity: 0;
    position: absolute;
  }
  @include breakpoint(med-large down) {
    opacity: 1;
    position: relative;
  }
  @include breakpoint(small down) {
    opacity: 0;
    position: absolute;
  }
}
.helpTextAlt2{
  opacity: 0;
  position: absolute;
  @include breakpoint(small down) {
    opacity: 1;
    position: relative;
  }
}







#newsWrap{
  background-color: $medium-gray;
  padding-top: $pad * 5;
  padding-bottom: $pad * 5;
  #newsFeed ul{
    @include grid-row();
    li{
      position: relative;
      background-color: $white;
      @include grid-column(4);
      // -- Twitter Handle -- //
      a span{
         font-weight: 300;
         color: $blue !important;
      }
      // -- Twitter Content -- //
      .tweet{
        margin-top: $pad * 3;
       font-weight: 300;
       overflow: hidden !important;
      }
    }
    @include breakpoint(med-large up) {
    li:first-of-type{
      width: calc(33.33% - 13px);
      min-height: 360px;
      .tweet{
        margin-top: 25%;
        margin-bottom: 20%;
      }
    }
    li:nth-of-type(2){
      width: calc(33.33% - 14px);
      margin-right: $pad;
      margin-left: $pad;
      min-height: 360px;
      .tweet{
        margin-top: 25%;
        margin-bottom: 20%;
      }
    }
    li:nth-of-type(3){
      // margin-right: -$pad;
      width: calc(33.33% - 13px);
      min-height: 360px;
      margin-bottom: $pad;
      .tweet{
        margin-top: 25%;
        margin-bottom: 20%;
      }
    }
    li:nth-of-type(4), li:nth-of-type(5), li:nth-of-type(6), li:nth-of-type(7), li:nth-of-type(8){
      width: calc(20% - 16px);
      margin-right: $pad / 2;
      margin-left: $pad / 2;
      min-height: 250px;

      .tweet{
        margin-top: 5%;
        margin-bottom: 5%;

      }
      .user a, .timePosted, .media img{
        display: none;
      }
    }
    li:nth-of-type(4){
      margin-left: 0;
    }
    li:nth-of-type(8){
      margin-right: 0;
    }
  }
  @include breakpoint(medium down) {
  li:first-of-type{
    width: calc(100%);
    margin-bottom: $pad;
        // min-height: 360px;
  }
  li:nth-of-type(2){
    width: calc(100%);
        margin-bottom: $pad;

  }
  li:last-of-type{
    width: calc(100%);
  }
}
  }
}
.user a span:first-of-type {
   display:none;
   margin-right:25px;
   color: $dark-gray !important;
   font-weight: 500 !important;
}
.user a span:last-of-type {
   display: block;
   margin-top:7px;
   font-size: 200%;
   color: $dark-gray !important;
   font-weight: 500 !important;
}
.timePosted{
   position: absolute;
   bottom: 0;
   right: 0;
   font-weight: 300;
   padding-right: $pad;
   a{
     color: $black;
   }
}
.media img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 200px !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 30px;
}
.user a > span {
   float:left;
   font-weight: 300;
}
.user a img {
   display: none;
}
.tweet{
  //  color: $light-gray !important;
}
// .tweet a > span:before {
//    background-color: transparent !important;
//    height: 0px;
//    margin-bottom: 0px;
// }
// .tweet a > span:after {
//    background-color: blue !important;
//    height: 0px;
//    margin-bottom: 0px;
// }
// .tweet a:hover{
//    color: $blueLite !important;
//    @include mui-animation(fade);
// }
#newsWrap{
  li:nth-of-type(4), li:nth-of-type(5), li:nth-of-type(6), li:nth-of-type(7), li:nth-of-type(8){
    width: calc(20% - 16px);
    margin-right: $pad / 2;
    margin-left: $pad / 2;
    // max-height: 120px;
    // min-height: 120px;


    .tweet{
      margin-top: 5%;
      // margin-bottom: 5%;
      font-size: 14px;
    }
    .user a, .media img{
      display: none;
    }
    .timePosted{
      font-size: 14px;
      display: block !important;
    }
  }
  li:nth-of-type(4){
    margin-left: 0;
  }
  li:nth-of-type(8){
    margin-right: 0;
  }
}
#wtf{
  li:nth-of-type(4), li:nth-of-type(5), li:nth-of-type(6), li:nth-of-type(7), li:nth-of-type(8){
    display: none !important;
  }
}








footer{
  background: $dark-gray;
  color: $white;
  font-size: 14px;
  .small-6{
    margin-top: $pad * 2;
    margin-bottom: $pad * 2;
    li:first-of-type{
      font-weight: 900;
    }
  }
  a{
    color: $white;
    font-weight: 400;
  }
  // .large-4 p{
  //   padding-right: 40px;
  // }
  .upperFooter{
    padding-top: 15px;
    padding-bottom: 50px;
  }
  img{
    width: 200px;
  }
  i{
    padding: 8px 0px 8px 6px;
  }
  .columns, .column{
    // padding-left: 0px !important;
    // padding-right:0px !important;
  }
}
.footerResources{
  margin-top: 35px;
  li{
    line-height: 1.4;
    font-weight: 500;
  }
  h6{
    font-weight: 900;
  }
}
.lowerFooter{
  div:first-child{
    font-size: 12px;
  }
  div:last-child{
    text-align: right;
    margin-right: 0px;
    padding-right: 0px;
  }
}
.lowerFooterWrap{
  background-color: $darkest-gray;
  color: $gray;
}
.fa-border{
  border-radius: 10px;
  background:pink;
  padding: 10px;
}










/* BUTTON STYLING START */
a .btn {
   border: none;
   font-family: inherit;
   font-size: inherit;
   color: inherit;
   background: none;
   cursor: pointer;
   padding: 6px 6px !important;
   display: inline-block;
   margin: 0px;
   text-transform: uppercase;
   letter-spacing: 1px;
   outline: none;
   position: relative;
   border: 2px solid $dark-gray;
   border-radius: 2px;
   color: $dark-gray;
   font-size: 12px;
   overflow: hidden;
   padding: 15px !important;
   margin: 13px 0px 13px 0px;
   font-weight: 500;
   // replace with motion ui
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
}
a .btn:after {
   content: '';
   position: absolute;
   z-index: -1;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
}
a .btn-1e:after {
   width: 100%;
   height: 0;
   top: 50%;
   left: 50%;
   background: $dark-gray;
   opacity: 0;
   // replace with motion ui
   -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
   -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
   -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
   transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
a .btn-1e:hover,
a .btn-1e:active {
   color: $white;
   opacity: 1;
   z-index: 60;
}
/* background size */
a .btn-1e:hover:after {
   height: 620%;
   opacity: 1;
}
/* BUTTON STYLING END */







// INSTALL page
#install{
  text-align: center;
  background: url(../img/concrete_seamless.png);
  @include sectionTopPad;
  @include sectionBottomPad;
  hr{
    border: 1px solid $gray;
    width: 20%;
  }
  .row .column{
    background: $white;
  }
  .row .column:first-of-type {
    background: transparent;
    margin-top: $pad * 2;
    h2, h3, h4, h5{
      font-weight: 300;
    }
  }
  img{
   margin-top: $pad * 2;
  //  margin-bottom: $pad;
   max-height: $pad * 5;
  }
  .windows{
    margin-right: $pad / 2;
    padding-bottom: $pad;
  }
  .mac{
    margin-left: $pad / 2;
    padding-bottom: $pad;
  }
  .nisncc, .nccnis{
    padding-top: $pad;
    p{
      margin-bottom: $pad;
    }
  }
  .nisncc{
    margin-right: $pad / 2;
  }
  .nccnis{
    margin-left: $pad / 2;
  }
  .backup{
    padding-top: $pad;
    margin-bottom: $pad;
  }
}



// ncc page
#first.active{
  color: pink;
  background: pink;
}
#second.active{
  color: pink;
  background: pink;
}




// faq page
#outerWrapFaq{
  list-style-type: decimal !important;
  padding-top: $pad * 5;
  padding-bottom: $pad * 5;
  background: url(../img/geometry.png);
  background-repeat: repeat;
}
#innerWrapFaq{
  @include flex-grid-row(collapse, 1000px, 48, true);
  @include flex-grid-row-align(justify);
  hr{
    width: 80%;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right:0;
    margin-left: 0;
    border: 1px solid $gray;
  }
}
#faqNavWrap{
  // margin-top: 400px;
  @include flex-grid-column(16);
  background: $white;
  z-index: 1000;
  li:first-child a{
    font-weight: 700;
  }
  a.active{
    color: red;
    background: pink;
  }

}
#faqContent{
  @include flex-grid-column(31);
  background: transparent;
  padding: $pad;
  article{
    background: $white;
    padding: 2px 5px 5px 10px;
    margin-bottom: $pad;
  }
  h2{
    background: $white;
    padding: 2px 5px 2px 10px;
    margin-bottom: $pad;
  }
  span.gold{
    color: orange;
  }
  span.red{
    color: red;
  }
  span.blue{
    color: blue;
  }
}

header.band {
    background-image:url(../img/banner1600.png);
    background-size: 100%;
}

// ************************** //
//      Skrollr Styles        //
// ************************** //

.banner {
    -skrollr-animation-name:animation2;
}
#bannerHeader {
    -skrollr-animation-name:animation3;
}
#laptop {
    -skrollr-animation-name:animation4;
}
#testFaq {
    -skrollr-animation-name:animation5;
}
.appsTitle{
    -skrollr-animation-name:appTitle1;
}
$laptopStart: 0;
$laptopDuration: 500;
$laptopEnd: $laptopStart + $laptopDuration;

$bannerStart: 0;
$bannerDuration: 500;
$bannerEnd: $bannerStart + $bannerDuration;

$bannerTextStart: 0;
$bannerTextDuration: 140;
$bannerTextEnd: $bannerTextStart + $bannerTextDuration;

$faqStart: 100;
$faqDuration: 0;
$faqEnd: $faqStart + $faqDuration;

$appStart: 0;
$appDuration: 500;
$appEnd: $appStart + $appDuration;

@-skrollr-keyframes appTitle1{
    skrollr-#{$appStart} {
      position: relative;
      top:0px;
      right: 20px;
      left: 0px;
        background-color:rgb(0,0,255);
        opacity: 1;
    }
    skrollr-#{$appEnd} {
        background-color:rgb(255,0,0);
        opacity: 0;
        top: 50px;
        left: 40px;
        right: -20px;
              // position: relative;
    }
}

@-skrollr-keyframes animation5 {
    skrollr--#{$faqStart} {
        background-color:rgb(0,0,255);
    }
    skrollr-#{$faqEnd} {
        background-color:rgb(255,0,0);
    }
}

@-skrollr-keyframes animation4 {
    skrollr--#{$laptopStart} {
        opacity: 0;
    }
    skrollr-#{$laptopEnd} {
        opacity: 1;
    }
}
@-skrollr-keyframes animation3 {
    skrollr-#{$bannerTextStart} {
        opacity: 1;
    }
    skrollr-#{$bannerTextEnd} {
        opacity: 0;
    }
}
@-skrollr-keyframes animation2 {
    skrollr-#{$bannerStart} {
        background-position: 0px 0px;
    }
    skrollr-#{$bannerEnd} {
        background-position: 0px -250px;
    }
}

// ************************** //
//     ScrollReveal Styles    //
// ************************** //

#mainContent {
    background: #e0ffc7 url(http://winnerhun.uw.hu/vigyorpofa.gif) no-repeat center center;
    min-width: 100%;
    height: 768px;
}

#mainContentc1 {
    position: absolute;
    top:30%;
    left:0;
    bottom:0;
    right:0;
    margin: auto;
    font-size: 100px;
}

#mainContentc2 {
    position: absolute;
    top:58%;
    left:0;
    bottom:0;
    right:0;
    margin: auto;
    font-size: 30px;
}

#secondContent {
    margin-top: 100px;
}

// underline links

a > span {
  position: relative;
  color: #000;
  text-decoration: none;
  // margin: 0px !important;

}

a > span:hover {
  color: #000;
}

a > span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: #000;
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
a > span:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.height100{
  height: 88vh;
  background: blue;
  @include flex-grid-row();
  @include flex-grid-row-align(center, middle);
  article{
    @include flex-grid-column(24);
    background-color: pink;
  }
}
