<section id="aboutIt">
  <div class="row slickCar">
    <div class="small-12 columns">
      <h2>What Makes NEM unique among blockchains?</h2>
    </div>
    <div class="one-time small-9 columns">
      <div>
        <p>Designed with all new code to be secure, scalable, fast, flexible and easy to build on utilizing a simple API.</p>
      </div>
      <div>
        <p>NEM features on-chain multisig and multi-user contracts with push notifications, a token feature called Mosaics, and namespaces.</p>
      </div>
      <div>
        <p>Together with Mijin, NEM is the first public/private blockchain combination.</p>
      </div>
    </div>
  </div>

  <div class="row align-stretch">

    <div class="small-12 columns">
      <div class="row">

        <div id="aboutWrap1" class="small-12 med-large-expand columns">
          <div class="row align-center">
            <div class="small-12 columns">
              <img class="injectIt" alt="NEM" src="{{root}}/assets/img/nemSecurity.svg" />
            </div>
          </div>
          <div id="about1" class="row align-center">
            <ul>
              <li><a data-open="reputation" class="reputationTitle"></a></li>
              <li><a data-open="spamProtect" class="spamTitle"></a></li>
              <li><a data-open="architecture" class="architectureTitle"></a></li>
              <li><a data-open="supernodes" class="supernodesTitle"></a></li>
              <li><a data-open="lightwallet" class="lightwalletTitle"></a></li>
            </ul>
          </div>
        </div>

        <div id="aboutWrap2" class="small-12 med-large-expand columns">
          <div class="row align-center">
            <div class="small-12 columns">
              <img class="injectIt" alt="NEM" src="{{root}}/assets/img/nemFeatures.svg" />
            </div>
          </div>
          <div id="about2" class="row align-center">
            <ul>
              <li><a data-open="multisig" class="multisigTitle"></a></li>
              <li><a data-open="namespace" class="namespaceTitle"></a></li>
              <li><a data-open="harvesting" class="harvestingTitle"></a></li>
              <li><a data-open="messaging" class="messagingTitle"></a></li>
              <li><a data-open="mosaic" class="mosaicTitle"></a></li>
            </ul>
          </div>
        </div>

        <div id="aboutWrap3" class="small-12 med-large-expand columns">
          <div class="row align-center">
            <div class="small-12 columns">
              <img class="injectIt" alt="NEM" src="{{root}}/assets/img/nemCore.svg" />
          </div>
          <div id="about3" class="row align-center">
            <ul>
              <li><a data-open="newcode" class="newcodeTitle"></a></li>
              <li><a data-open="nisApis" class="apisTitle"></a></li>
              <li><a data-open="consensus" class="consensusTitle"></a></li>
              <li><a data-open="xem" class="xemTitle"></a></li>
              <li><a data-open="nis" class="nisTitle"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div id="modals">
<div class="reveal xlarge row row2" id="multisig" data-reveal>
  <div class="row">
    <h1 class="large-2 small-12 columns multisigTitle">Multisig</h1>
    <div class="small-12 large-10 columns">
    <p class="multisig" data-i18n="[html]multisig">NEM's multisig solution is on blockchain. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
  <p class="multisig2" data-i18n="[html]multisig2">Because multisignature accounts can be created, and transactions issued by using the API, it has suddenly become far simpler, to make use of multisignature technology. Furthermore, a client based multisig solution requires the wallet to be running. With NEM’s unique blockchain based solution for multisig, the NIS nodes handle the signing of a transaction. Hence, once a multisig transaction is created, the user can switch the client wallet offline.</p>
</div>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row align-center buttons">
    <div class="small-10 large-10 columns">
    <button type="button" class="button" data-close aria-label="Close reveal">Close</button>
  </div>
  </div>
</div>

<div class="reveal xlarge row1" id="reputation" data-reveal>
  <div class="row">
  <h1 class="large-2 small-12 columns reputationTitle">Node Reputation System</h1>
  <div class="small-12 large-10 columns">
    <p class="reputation" data-i18n="[html]reputation">Eigentrust is a security clustering algorithm so nodes can give reputation to their neighbors in clusters, making it very difficult for a node to give false information consistently to the network. Only nodes that have consistently performed well in the past giving verifiable correct information are given a good reputation and have their data acknowledged.</p>
    <p class="reputation" data-i18n="[html]reputation2">To learn more about Eigentrust++ in NEM please read Chapter 6 of the <a href="http://nem.io/NEM_techRef.pdf#section.6">NEM Technical Reference</a>.</p>
  </div>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="row align-center buttons">
  <div class="small-10 large-10 columns">
  <button type="button" class="button" data-close aria-label="Close reveal">Close</button>
</div>
</div>
</div>

<div class="reveal row2" id="messaging" data-reveal>
  <div class="row">
  <h1 class="large-2 small-12 columns messagingTitle">Messaging</h1>
  <p class="messaging small-12 large-10 columns" data-i18n="[html]messaging">Messages can be sent along with transactions or by themselves. This can be done unencrypted/encrypted/hex formats depending on the user or programmers needs.</p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="row align-center buttons">
  <div class="small-10 large-10 columns">
  <button type="button" class="button" data-close aria-label="Close reveal">Close</button>
</div>
</div>
</div>

<div class="reveal row1" id="architecture" data-reveal>
  <div class="row">
    <h1 class="large-2 small-12 columns architectureTitle">2-Tiered Architecture</h1>
    <p class="architecture small-12 large-10 columns" data-i18n="[html]architecture">Design of the solution is based on the NCC being one tier (i.e., client) and the NIS being the server tier. The NCC also has a webserver with useful APIs.</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="row align-center buttons">
  <div class="small-10 large-10 columns">
  <button type="button" class="button" data-close aria-label="Close reveal">Close</button>
</div>
</div>
</div>

<div class="reveal row2" id="harvesting" data-reveal>
  <div class="row">
    <h1 class="large-2 small-12 columns harvestingTitle">Harvesting</h1>
    <div class="small-12 large-10 columns">
      <p class="harvesting" data-i18n="[html]harvesting">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
      <p class="harvesting2" data-i18n="[html]harvesting2"></p>
    </div>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row align-center buttons">
    <div class="small-10 large-10 columns">
    <button type="button" class="button" data-close aria-label="Close reveal">Close</button>
  </div>
  </div>
</div>

<div class="reveal row2" id="mosaic" data-reveal>
  <div class="row">
    <h1 class="large-2 small-12 columns mosaicTitle">Mosaics</h1>
    <div class="small-12 large-10 columns">
      <p class="mosaic" data-i18n="[html]mosaic">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
      <p class="mosaic2" data-i18n="[html]mosaic2">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
    </div>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row align-center buttons">
    <div class="small-10 large-10 columns">
    <button type="button" class="button" data-close aria-label="Close reveal">Close</button>
  </div>
  </div>
</div>

<!-- <div class="reveal row1" id="ncc" data-reveal>
  <div class="row">
    <h1 class="large-2 small-12 columns nccTitle">NCC</h1>
    <p class="ncc small-12 large-10 columns" data-i18n="[html]ncc">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row align-center buttons">
    <div class="small-10 large-10 columns">
    <button type="button" class="button" data-close aria-label="Close reveal">Close</button>
  </div>
  </div>
</div> -->

<div class="reveal row3" id="nis" data-reveal>
  <div class="row">
    <h1 class="large-2 small-12 columns nisTitle">NIS</h1>
    <p class="nis small-12 large-10 columns" data-i18n="[html]nis">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row align-center buttons">
    <div class="small-10 large-10 columns">
    <button type="button" class="button" data-close aria-label="Close reveal">Close</button>
  </div>
  </div>
</div>

<div class="reveal row3" id="consensus" data-reveal>
  <div class="row">
    <h1 class="large-2 small-12 columns consensusTitle">Consensus Mechanism</h1>
    <div class="small-12 large-10 columns">
      <p class="consensus" data-i18n="[html]consensus">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
      <p class="consensus2" data-i18n="[html]consensus2">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
      <p class="consensus3" data-i18n="[html]consensus3">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
    </div>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row align-center buttons">
    <div class="small-10 large-10 columns">
    <button type="button" class="button" data-close aria-label="Close reveal">Close</button>
  </div>
  </div>
</div>

<div class="reveal row3" id="newcode" data-reveal>
  <div class="row">
    <h1 class="large-2 small-12 columns newcodeTitle">100% New Code</h1>
    <div class="small-12 large-10 columns">
      <p class="newcode" data-i18n="[html]newcode">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
      <ul>
        <!-- <li id="newcode2" data-i18n="[html]newcode2"></li> -->
        <li id="newcode3" data-i18n="[html]newcode3"></li>
        <li id="newcode4" data-i18n="[html]newcode4"></li>
        <li id="newcode5" data-i18n="[html]newcode5"></li>
        <li id="newcode6" data-i18n="[html]newcode6"></li>
        <li id="newcode7" data-i18n="[html]newcode7"></li>
        <li id="newcode8" data-i18n="[html]newcode8"></li>
        <li id="newcode9" data-i18n="[html]newcode9"></li>
        <li id="newcode10" data-i18n="[html]newcode10"></li>
        <li id="newcode11" data-i18n="[html]newcode11"></li>
        <li id="newcode12" data-i18n="[html]newcode12"></li>
        <li id="newcode13" data-i18n="[html]newcode13"></li>
        <li id="newcode14" data-i18n="[html]newcode14"></li>
      </ul>
    </div>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row align-center buttons">
    <div class="small-10 large-10 columns">
    <button type="button" class="button" data-close aria-label="Close reveal">Close</button>
  </div>
  </div>
</div>

<!-- <div class="reveal row1" id="blocktimes" data-reveal>
  <div class="row">
    <h1 class="large-2 small-12 columns blocktimesTitle">Block Times</h1>
    <p class="blocktimes small-12 large-10 columns" data-i18n="[html]blocktimes">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row align-center buttons">
    <div class="small-10 large-10 columns">
    <button type="button" class="button" data-close aria-label="Close reveal">Close</button>
  </div>
  </div>
</div> -->

<div class="reveal row3" id="xem" data-reveal>
  <div class="row">
    <h1 class="large-2 small-12 columns xemTitle">XEM</h1>
    <p class="xem small-12 large-10 columns" data-i18n="[html]xem">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row align-center buttons">
    <div class="small-10 large-10 columns">
    <button type="button" class="button" data-close aria-label="Close reveal">Close</button>
  </div>
  </div>
</div>

<div class="reveal row2" id="namespace" data-reveal>
  <div class="row">
    <h1 class="large-2 small-12 columns namespaceTitle">Namespace</h1>
    <div class="small-12 large-10 columns">
      <p class="namespace" data-i18n="[html]namespace">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
      <p class="namespace2" data-i18n="[html]namespace2">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
      <p class="namespace3" data-i18n="[html]namespace3">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
    </div>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row align-center buttons">
    <div class="small-10 large-10 columns">
    <button type="button" class="button" data-close aria-label="Close reveal">Close</button>
  </div>
  </div>
</div>

<div class="reveal row1" id="spamProtect" data-reveal>
  <div class="row">
    <h1 class="large-2 small-12 columns spamTitle">Spam Protection</h1>
    <p class="spam small-12 large-10 columns" data-i18n="[html]spam">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row align-center buttons">
    <div class="small-10 large-10 columns">
    <button type="button" class="button" data-close aria-label="Close reveal">Close</button>
  </div>
  </div>
</div>

<div class="reveal row1" id="supernodes" data-reveal>
  <div class="row">
    <h1 class="large-2 small-12 columns supernodesTitle">supernodes</h1>
    <p class="supernode small-12 large-10 columns" data-i18n="[html]supernode">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row align-center buttons">
    <div class="small-10 large-10 columns">
    <button type="button" class="button" data-close aria-label="Close reveal">Close</button>
  </div>
  </div>
</div>

<div class="reveal row1" id="lightwallet" data-reveal>
  <div class="row">
    <h1 class="large-2 small-12 columns lightwalletTitle">lightwallet</h1>
    <div class="small-12 large-10 columns">
      <p class="lightwallet" data-i18n="[html]lightwallet">NEM has three versions of wallets that can be run locally and independently of an NIS. The NCC is the first wallet and comes equipped with APIs. Open-source Android and iOS mobile apps have been built and are released on the testnet for full testing and will be coming to the App Store and the Google Play store soon. And lastly there is the new lightwallet.</p>
      <p class="lightwallet2" data-i18n="[html]lightwallet2">NEM’s lightwallet is a fully equipped wallet but in the form of a browser webpage and written in javascript that, like all NEM wallets, does all important signing locally. So now one can have just one html file to send XEM in a public network using any NIS without risking the safety of the account. Every NIS serves the lightwallet via port 7777 but if connecting to any node other than a trusted one, it is recommended to run a standalone lightwallet version for full security.</p>
      <p class="lightwallet3" data-i18n="[html]lightwallet3">The <a href="http://blog.nem.io/lightwallet/">lightwallet</a> is important because it enables any merchant to easily incorporate the lightwallet javascript code into their websites to facilitate payments. This can be done in minutes and the implications can be profound as the NEM blockchain data become easily available and accessible by the merchant.</p>
    </div>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row align-center buttons">
    <div class="small-10 large-10 columns">
    <button type="button" class="button" data-close aria-label="Close reveal">Close</button>
  </div>
  </div>
</div>

<div class="reveal row3" id="nisApis" data-reveal>
  <div class="row">
    <h1 class="large-2 small-12 columns apisTitle">apis</h1>
    <p class="nisApis small-12 large-10 columns" data-i18n="[html]nisApis">api's</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row align-center buttons">
    <div class="small-10 large-10 columns">
    <button type="button" class="button" data-close aria-label="Close reveal">Close</button>
  </div>
  </div>
</div>


</div>
