
  <section id="aboutIt">
    <div class="row align-stretch">
      <div class="small-12 columns">
        <div id="" class="row">
          <div id="aboutWrap1" class="small-12 med-large-expand columns">
            <div class="row align-center">
              <div class="small-12 columns">
                <img class="injectIt" src="{{root}}/assets/img/nem.svg" />
                <h2 id="nemSecurity"></h2>
                <img class="injectIt" src="{{root}}/assets/img/nemLogoSkeleton.svg" />
              </div>

            </div>
            <div id="about1" class="row align-center">
              <ul>
                <li data-open="reputation" class="reputationTitle"></li>
                <li data-open="spamProtect" class="spamTitle"></li>
                <li data-open="architecture" class="architectureTitle"></li>
                <li class="supernodesTitle"></li>
                <li class="lightwalletTitle"></li>
              </ul>
            </div>
          </div>
          <div id="aboutWrap2" class="small-12 med-large-expand columns">
            <div class="row align-center">
              <div class="small-12 columns">
                <img class="injectIt" src="{{root}}/assets/img/nem.svg" />
                <h2 id="nemFeatures"></h2>
                <img class="injectIt" src="{{root}}/assets/img/nemLogoSkeleton.svg" />
              </div>

            </div>
            <div id="about2" class="row align-center">
              <ul>
                <li data-open="multisig" class="multisigTitle"></li>
                <li data-open="mobile" class="appsTitle"></li>
                <li data-open="namespace" class="namespaceTitle"></li>
                <li data-open="messaging" class="messagingTitle"></li>
                <li data-open="mosaics" class="mosaicTitle"></li>

              </ul>
            </div>
          </div>
          <div id="aboutWrap3" class="small-12 med-large-expand columns">
            <div class="row align-center">
              <div class="small-12 columns">
                <img class="injectIt" src="{{root}}/assets/img/nem.svg" />
                <h2 id="nemCore"></h2>
                <img class="injectIt" src="{{root}}/assets/img/nemLogoSkeleton.svg" />
              </div>

            </div>
            <div id="about3" class="row align-center">
              <ul>
                <li data-open="harvesting" class="harvestingTitle"></li>
                <li data-open="apis" class="apisTitle"></li>
                <li data-open="poi" class="consensusTitle"></li>
                <li data-open="xem" class="xemTitle"></li>
                <li data-open="nis" class="nisTitle"></li>

              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>


<div id="modals">
  <div class="reveal xlarge row" id="multisig" data-reveal>
    <h2>Multisig</h2>
    <p class="multisig">NEM's multisig solution is on blockchain. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
  <p class="multisig2">Because multisignature accounts can be created, and transactions issued by using the API, it has suddenly become far simpler, to make use of multisignature technology. Furthermore, a client based multisig solution requires the wallet to be running. With NEM’s unique blockchain based solution for multisig, the NIS nodes handle the signing of a transaction. Hence, once a multisig transaction is created, the user can switch the client wallet offline.</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="reveal xlarge" id="mobile" data-reveal>
    <div class="row">
    <h1 class="small-2 columns">Mobile Apps</h1>
    <p class="apps small-10 columns">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  </div>
  <div class="reveal xlarge" id="reputation" data-reveal>
    <div class="row">
    <h1 class="small-2 columns">Node Reputation System</h1>
    <p class="reputation small-10 columns">Eigentrust is a security clustering algorithm so nodes can give reputation to their neighbors in clusters, making it very difficult for a node to give false information consistently to the network. Only nodes that have consistently performed well in the past giving verifiable correct information are given a good reputation and have their data acknowledged.</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
  <div class="reveal" id="messaging" data-reveal>
    <h1>Messaging</h1>
    <p class="messaging">Messages can be sent along with transactions or by themselves. This can be done unencrypted/encrypted/hex formats depending on the user or programmers needs.</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="reveal" id="architecture" data-reveal>
    <h1>2-Tiered Architecture</h1>
    <p class="architecture">Design of the solution is based on the NCC being one tier (i.e., client) and the NIS being the server tier. The NCC also has a webserver with useful APIs.</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="reveal" id="harvesting" data-reveal>
    <h1>Harvesting</h1>
    <p class="harvesting">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="reveal" id="delegated" data-reveal>
    <h1>Delegated Harvesting</h1>
    <p class="delegated">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="reveal" id="mosaic" data-reveal>
    <h1>Mosaics</h1>
    <p class="mosaic">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
    <p class="mosaic2">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="reveal" id="video" data-reveal>
    <h1>About NEM Video</h1>
    <p></p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="reveal" id="ncc" data-reveal>
    <h1>NCC</h1>
    <p class="ncc">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="reveal" id="nis" data-reveal>
    <h1>NIS</h1>
    <p class="nis">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="reveal" id="consensus" data-reveal>
    <h1>Consensus Mechanism</h1>
    <p class="consensus">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
    <p class="consensus2">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="reveal" id="newcode" data-reveal>
    <h1>100% New Code</h1>
    <p class="newcode">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="reveal" id="blocktimes" data-reveal>
    <h1>Block Times</h1>
    <p class="blocktimes">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="reveal" id="xem" data-reveal>
    <h1>XEM</h1>
    <p class="xem">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="reveal" id="namespace" data-reveal>
    <h1>Namespace</h1>
    <p class="namespace">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
    <p class="namespace2">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
    <p class="namespace3">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="reveal" id="spamProtect" data-reveal>
    <h1>Spam Protection</h1>
    <p class="spam">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
