<section id="about">
  <div class="bubbleWrap row row1 align-spaced">
    <button data-0="background-color:rgb(0,0,255); left: 0px; position: relative;" data-500="background-color:rgb(255,0,0); left: 100px;" data-open="multisig" class="multisigTitle med-large-3 large-2 column">
        multisig
    </button>
    <button data-open="mobile" class="appsTitle med-large-3 large-2 column secondary">
        mobile apps
    </button>
    <button data-open="reputation" class="reputationTitle med-large-3 large-2 column secondary">
        node reputation system
    </button>
    <button data-open="messaging" class="messagingTitle med-large-3 large-2 column tertiary">
        messaging
    </button>
    <button data-open="architecture" class="architectureTitle med-large-3 large-2 column tertiary">
        2-tiered architecture
    </button>
    <button data-open="harvesting" class="harvestingTitle med-large-3 large-2 column">
        harvesting
    </button>
  </div>

  <div class="bubbleWrap row row2 align-justify">
    <button data-open="delegated" data-0="background-position:0px 0px;" class="delegatedTitle med-large-3 large-3 column tertiary">
            delegated harvesting
    </button>
    <button data-open="mosaic" class="mosaicTitle med-large-3 large-3 column">
            mosaic
    </button>
    <button data-open="ncc" class="nccTitle med-large-3 large-3 column secondary">
            NCC
    </button>
    <button data-open="nis" class="nisTitle med-large-3 large-3 column secondary">
            NIS
    </button>
  </div>

  <div class="bubbleWrap row row3 align-spaced">
    <button data-open="consensus" class="consensusTitle med-large-3 large-2 column secondary">
      consensus mechanism
    </button>
    <button data-open="newcode" class="newcodeTitle med-large-3 large-2 column tertiary">
      100% new code
    </button>
    <button data-open="blocktimes" class="blocktimesTitle med-large-3 large-2 column tertiary">
      block times
    </button>
    <button data-open="xem" class="xemTitle med-large-3 large-2 column">
      xem
    </button>
    <button data-open="namespace" class="namespaceTitle med-large-3 large-2 column secondary">
      namespace
    </button>
    <button data-open="spamProtect" class="spamTitle med-large-3 large-2 column tertiary">
      spam protection
    </button>
  </div>
</section>


<div class="reveal" id="multisig" data-reveal>
  <h1>Multisig</h1>
  <p class="lead">Lead text, use if you want</p>
  <p class="multisig">NEM's multisig solution is on blockchain. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
<p class="multisig2">Because multisignature accounts can be created, and transactions issued by using the API, it has suddenly become far simpler, to make use of multisignature technology. Furthermore, a client based multisig solution requires the wallet to be running. With NEM’s unique blockchain based solution for multisig, the NIS nodes handle the signing of a transaction. Hence, once a multisig transaction is created, the user can switch the client wallet offline.</p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="reveal" id="mobile" data-reveal>
  <h1>Mobile Apps</h1>
  <p class="lead">Lead text, use if you want</p>
  <p class="apps">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="reveal" id="reputation" data-reveal>
  <h1>Node Reputation System</h1>
  <p class="lead">Lead text, use if you want</p>
  <p class="reputation">Eigentrust is a security clustering algorithm so nodes can give reputation to their neighbors in clusters, making it very difficult for a node to give false information consistently to the network. Only nodes that have consistently performed well in the past giving verifiable correct information are given a good reputation and have their data acknowledged.</p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="reveal" id="messaging" data-reveal>
  <h1>Messaging</h1>
  <p class="lead">Lead text, use if you want</p>
  <p class="messaging">Messages can be sent along with transactions or by themselves. This can be done unencrypted/encrypted/hex formats depending on the user or programmers needs.</p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="reveal" id="architecture" data-reveal>
  <h1>2-Tiered Architecture</h1>
  <p class="lead">Lead text, use if you want</p>
  <p class="architecture">Design of the solution is based on the NCC being one tier (i.e., client) and the NIS being the server tier. The NCC also has a webserver with useful APIs.</p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="reveal" id="harvesting" data-reveal>
  <h1>Harvesting</h1>
  <p class="lead">Lead text, use if you want</p>
  <p class="harvesting">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="reveal" id="delegated" data-reveal>
  <h1>Delegated Harvesting</h1>
  <p class="lead">Lead text, use if you want</p>
  <p class="delegated">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="reveal" id="mosaic" data-reveal>
  <h1>Mosaics</h1>
  <p class="lead">Lead text, use if you want</p>
  <p class="mosaic">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
  <p class="mosaic2">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="reveal" id="video" data-reveal>
  <h1>About NEM Video</h1>
  <p class="lead">Lead text, use if you want</p>
  <p></p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="reveal" id="ncc" data-reveal>
  <h1>NCC</h1>
  <p class="lead">Lead text, use if you want</p>
  <p class="ncc">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="reveal" id="nis" data-reveal>
  <h1>NIS</h1>
  <p class="lead">Lead text, use if you want</p>
  <p class="nis">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="reveal" id="consensus" data-reveal>
  <h1>Consensus Mechanism</h1>
  <p class="lead">Lead text, use if you want</p>
  <p class="consensus">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
  <p class="consensus2">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="reveal" id="newcode" data-reveal>
  <h1>100% New Code</h1>
  <p class="lead">Lead text, use if you want</p>
  <p class="newcode">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="reveal" id="blocktimes" data-reveal>
  <h1>Block Times</h1>
  <p class="lead">Lead text, use if you want</p>
  <p class="blocktimes">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="reveal" id="xem" data-reveal>
  <h1>XEM</h1>
  <p class="lead">Lead text, use if you want</p>
  <p class="xem">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="reveal" id="namespace" data-reveal>
  <h1>Namespace</h1>
  <p class="lead">Lead text, use if you want</p>
  <p class="namespace">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
  <p class="namespace2">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
  <p class="namespace3">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="reveal" id="spamProtect" data-reveal>
  <h1>Spam Protection</h1>
  <p class="lead">Lead text, use if you want</p>
  <p class="spam">NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
