<section id="clients">
  <div class="row align-middle">
    <div class="large-5 med-large-4 medium-0 columns">
      <img id="iphone" alt="iphone with nem client on screen" src="{{root}}/assets/img/nemClient.png"/>
    </div>

    <div class="large-3 med-large-4 medium-6 small-10 columns client1">
      <h2 id="clientHeader2">Mobile App</h2>
      <p id="clientAbout" data-i18n="[html]client"></p>
      <!-- <p id="clientAbout2" data-i18n="[html]client"></p> -->

      <div class="button1">
        <a href="https://play.google.com/store/apps/details?id=org.nem.nac.mainnet&hl=en"><button class="btn btn-1e">available now</button></a>
      </div>
      <div class="button2">
        <a href="https://play.google.com/store/apps/details?id=org.nem.nac.mainnet&hl=en"><button class="btn btn-1e alt">available now</button></a>
      </div>
      <!-- <p class="clientHelp" data-i18n="[html]help">Need help with installing the NEM Client?</p>
      <p><a class="followGuide" data-i18n="[html]followGuide" href="http://blog.nem.io/windows-mac-installation-guide/"></a></p> -->
    </div>

    <div class="large-4 med-large-4 medium-6 small-9 columns client2">
      <h2 id="clientHeader">NEM Client</h2>
      <p id="clientContent" data-i18n="[html]client"></p>
      <div class="button1">
        <a href="{{root}}/install.html"><button id="clientClick" class="btn btn-1e">install nem community client</button></a>
      </div>
      <div class="button2">
        <a href="{{root}}/install.html"><button id="clientClickAlt" class="btn btn-1e alt">install nem client</button></a>
      </div>
      <p class="clientHelp" data-i18n="[html]help">Need help with installing the NEM Client?</p>
      <p><a class="followGuide" data-i18n="[html]followGuide" href="http://blog.nem.io/windows-mac-installation-guide/"></a></p>
    </div>
  </div>
</section>
