<div class="client" id="client">
  <div class="row align-middle">
    <div class="large-5 columns">
      <img id="laptop" alt="laptop with nem client on screen" src="{{root}}assets/img/laptopNEM.png"/>
    </div>
    <div class="large-1 medium-1 small-12 columns"></div>
    <div class="large-6 columns">
      <h3 id="clientHeader">NEM Community Client</h3>
      <p id="clientContent" data-i18n="[html]client"></p>
      <a href="{{root}}/install.html"><button id="clientClick" class="btn btn-1e">install nem community client</button></a>
      <a href="{{root}}/install.html"><button id="clientClickAlt" class="btn btn-1e alt">install nem client</button></a>
      <p id="clientHelp" data-i18n="[html]help">Need help with installing the NEM Client? <a href="#">Follow our easy guide</a></p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns helpAlt">
      <p id="clientHelp2" data-i18n="[html]help">Need help with installing the NEM Client? <a href="#">Follow our easy guide</a></p>
    </div>
  </div>
  <div class="row align-middle clientBottom">
    <div class="large-5 med-large-6 small-12 columns" id="support">
      <h3 id="clientHeader2">Streamlined NEM Mobile Client</h3>
      <p id="clientAbout">
        Install the NEM Mobile Client, it has all the core NEM features, with ease of use in mind.
      </p>
      <a href="https://play.google.com/store/apps/developer?id=NEM%20Mobile%20Team&hl=en">
        <button class="btn btn-1e">AVAILABLE NOW</button>
      </a>
    </div>
  </div>
</div>
