<section id="clients">
  <div class="row align-middle">
    <div class="large-5 columns">
      <img id="iphone" alt="iphone with nem client on screen" src="{{root}}assets/img/nemClient.png"/>
    </div>
    <div class="large-3 columns testies">
      <h3 id="clientHeader">NEM Community Client</h3>
      <p id="clientContent" data-i18n="[html]client"></p>
      <a href="{{root}}/install.html"><button id="clientClick" class="btn btn-1e">install nem community client</button></a>
      <a href="{{root}}/install.html"><button id="clientClickAlt" class="btn btn-1e alt">install nem client</button></a>
      <p id="clientHelp" data-i18n="[html]help">Need help with installing the NEM Client? <a href="#">Follow our easy guide</a></p>
    </div>

    <div class="large-4 columns">
      <h3 id="clientHeader">NEM Community Client</h3>
      <p id="clientContent" data-i18n="[html]client"></p>
      <a href="{{root}}/install.html"><button id="clientClick" class="btn btn-1e">install nem community client</button></a>
      <a href="{{root}}/install.html"><button id="clientClickAlt" class="btn btn-1e alt">install nem client</button></a>
      <p id="clientHelp" data-i18n="[html]help">Need help with installing the NEM Client? <a href="#">Follow our easy guide</a></p>
    </div>
  </div>
</section>
