<footer>
  <!-- <div class="upperFooter row align-justify align-middle">
    <div class="small-12 medium-12 med-large-4 large-4 column">
      <img src="{{root}}assets/img/nemLogoWhite.svg"/>
      <p id="footerText">
        nem is a movement which aims to create a new economy based
        on the principles of decentralization, financial freedom,
        and equality of opportunity.
      </p>
    </div>
    <div class="footerResources small-12 medium-12 med-large-7 large-6 column">
      <div class="row">
        <div class="large-4 columns">
          <ul class="">
            <li>
              <h6 id="resources">resources</h6>
            <li>
              <a href="https://github.com/NewEconomyMovement">Github Repos</a>
            </li>
            <li>
              <a href="https://docs.google.com/spreadsheets/d/1DpT2tjeUDS7HGu3pn3gte20NPND4GQLJ9GtcD3WaAss/edit?richtext=true#gid=10">Stakeholder List</a>
            </li>
            <li>
              <a href="http://bob.nem.ninja/docs/">NIS API</a>
            </li>
            <li>
              <a href="http://nem.io/ncc/index.html">NCC API</a>
            </li>
          </ul>
        </div>
        <div class="columns">
          <ul>
            <li>
              <h6 id="articles">articles</h6>
            <li>
              <a href="http://www.reuters.com/article/dragonfly-fintech-idUSnPn1Ptv6F+91+PRN20151216">Reuters</a>
            </li>
            <li>
              <a href="http://cointelegraph.com/news/113839/nem-launches-targets-old-economy-with-proof-of-importance">Cointelegraph</a>
            </li>
            <li>
              <a href="http://finance.yahoo.com/news/cryptocurrency-nem-gears-change-trade-100500963.html">Yahoo Finance</a>
            </li>
            <li>
              <a href="http://motherboard.vice.com/read/this-cryptocurrency-doesnt-want-to-beat-bitcoin-it-wants-to-beat-the-economy">Vice Article</a>
            </li>
            <li>
              <a href="http://8btc.com/thread-15618-1-1.html">Sunny King Q&A</a>
            </li>
          </ul>
        </div>
        <div class="columns">
          <ul>
            <li>
              <h6 id="posts">blog posts</h6>
            <li>
              <a href="#">resource</a>
            </li>
            <li>
              <a href="#">resource</a>
            </li>
            <li>
              <a href="#">resource</a>
            </li>
            <li>
              <a href="#">resource</a>
            </li>
            <li>
              <a href="#">resource</a>
            </li>
            <li>
              <a href="#">resource</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="column large-3 small-6">
      <ul>
        <li id="toolsList">tools</li>
        <li id="toolsContent" data-i18n="[html]toolsContent"></li>
        <li id="toolsContent2" data-i18n="[html]toolsContent2"></li>
        <li id="toolsContent3" data-i18n="[html]toolsContent3"></li>
        <li id="toolsContent4" data-i18n="[html]toolsContent4"></li>
        <li id="toolsContent5" data-i18n="[html]toolsContent5"></li>
        <li id="toolsContent6" data-i18n="[html]toolsContent6"></li>
        <li id="toolsContent7" data-i18n="[html]toolsContent7"></li>
      </ul>
    </div>
    <div class="column large-3 small-6">
      <ul>
        <li id="devResources"></li>
        <li id="devResourcesContent" data-i18n="[html]devResourcesContent"></li>
        <li id="devResourcesContent2" data-i18n="[html]devResourcesContent2"></li>
        <li id="devResourcesContent3" data-i18n="[html]devResourcesContent3"></li>
        <li id="devResourcesContent4" data-i18n="[html]devResourcesContent4"></li>
        <li id="devResourcesContent5" data-i18n="[html]devResourcesContent5"></li>
        <li id="devResourcesContent6" data-i18n="[html]devResourcesContent6"></li>
        <li id="devResourcesContent7" data-i18n="[html]devResourcesContent7"></li>
      </ul>
    </div>
    <div class="column large-3 small-6">
      <ul>
        <li id="devGuides"></li>
        <li id="devGuidesContent" data-i18n="[html]devGuidesContent"></li>
        <li id="devGuidesContent2" data-i18n="[html]devGuidesContent2"></li>
        <li id="devGuidesContent3" data-i18n="[html]devGuidesContent3"></li>
        <li id="devGuidesContent4" data-i18n="[html]devGuidesContent4"></li>
        <li id="devGuidesContent5" data-i18n="[html]devGuidesContent5"></li>
        <li id="devGuidesContent6" data-i18n="[html]devGuidesContent6"></li>
        <li id="devGuidesContent7" data-i18n="[html]devGuidesContent7"></li>
      </ul>
    </div>
    <div class="column large-3 small-6">
      <ul>
        <li id="topBlogs"></li>
        <li id="topBlogsContent" data-i18n="[html]topBlogsContent"></li>
        <li id="topBlogsContent2" data-i18n="[html]topBlogsContent2"></li>
        <li id="topBlogsContent3" data-i18n="[html]topBlogsContent3"></li>
        <li id="topBlogsContent4" data-i18n="[html]topBlogsContent4"></li>
        <li id="topBlogsContent5" data-i18n="[html]topBlogsContent5"></li>
        <li id="topBlogsContent6" data-i18n="[html]topBlogsContent6"></li>
        <li id="topBlogsContent7" data-i18n="[html]topBlogsContent7"></li>
      </ul>
    </div>
  </div>
  <!-- LOWER FOOTER -->
  <div class="lowerFooterWrap">
  <div class="lowerFooter row align-middle">
    <div class="medium-7 column">
      @NEM Project 2016
          <span class="ti-arrow-top-left"></span>
    </div>
    <div class="medium-5 column">
          <i class="fa fa-facebook-square fa-2x"></i>
          <i class="fa fa-twitter-square fa-2x"></i>
          <i class="fa fa-reddit-square fa-2x"></i>
          <i class="fa fa-github-square fa-2x"></i>
    </div>
  </div>
  </div>
</footer>
