<footer>
  <div class="row">
    <div class="column large-3 small-6 small-order-1 large-order-1">
      <ul>
        <li id="toolsList">Tools</li>
        <li id="toolsContent" data-i18n="[html]toolsContent">Nembex</li>
        <li id="toolsContent2" data-i18n="[html]toolsContent2">Node Explorer</li>
        <li id="toolsContent3" data-i18n="[html]toolsContent3">Community Explorer</li>
        <li id="toolsContent4" data-i18n="[html]toolsContent4">Nemnodes</li>
        <li id="toolsContent5" data-i18n="[html]toolsContent5">Supernodes.nem.io</li>
        <li id="toolsContent6" data-i18n="[html]toolsContent6">NEM China</li>
        <li id="toolsContent7" data-i18n="[html]toolsContent7">NEM News Service</li>
      </ul>
    </div>
    <div class="column large-3 small-6 small-order-4 large-order-2">
      <ul>
        <li id="devResources">Developer Resources</li>
        <li id="devResourcesContent" data-i18n="[html]devResourcesContent">Source Code</li>
        <li id="devResourcesContent2" data-i18n="[html]devResourcesContent2">RB2's NEM Docker</li>
        <li id="devResourcesContent3" data-i18n="[html]devResourcesContent3">NEM Samples</li>
        <li id="devResourcesContent4" data-i18n="[html]devResourcesContent4">NIS API's</li>
        <li id="devResourcesContent5" data-i18n="[html]devResourcesContent5">NCC API's</li>
        <li id="devResourcesContent6" data-i18n="[html]devResourcesContent6">NEM Technical Reference</li>
        <li id="devResourcesContent7" data-i18n="[html]devResourcesContent7">Apostille White Paper</li>
        <li id="devResourcesContent8" data-i18n="[html]devResourcesContent8">Catapult White Paper</li>
        <li id="devResourcesContent9" data-i18n="[html]devResourcesContent9">Radicalizing the Equity Market</li>
      </ul>
    </div>
    <div class="column large-3 small-6 small-order-3 large-order-3">
      <ul>
        <li id="devGuides">Developer Guides</li>
        <li id="devGuidesContent" data-i18n="[html]devGuidesContent">NEM Development 101, Ep. 1</li>
        <li id="devGuidesContent2" data-i18n="[html]devGuidesContent2">NEM Development 101, Ep. 2</li>
        <li id="devGuidesContent3" data-i18n="[html]devGuidesContent3">RB2's NEM Programming Guide</li>
        <li id="devGuidesContent4" data-i18n="[html]devGuidesContent4">Setting Up the NEM Testnet</li>
        <li id="devGuidesContent5" data-i18n="[html]devGuidesContent5"></li>
        <li id="devGuidesContent6" data-i18n="[html]devGuidesContent6"></li>
        <li id="devGuidesContent7" data-i18n="[html]devGuidesContent7"></li>
      </ul>
    </div>
    <div class="column large-3 small-6 small-order-2 large-order-4">
      <ul>
        <li id="topBlogs">Top Articles</li>
        <li id="topBlogsContent" data-i18n="[html]topBlogsContent">Tutorial List</li>
        <li id="topBlogsContent2" data-i18n="[html]topBlogsContent2">Quick Start Guide</li>
        <li id="topBlogsContent3" data-i18n="[html]topBlogsContent3">Development Contract</li>
        <li id="topBlogsContent4" data-i18n="[html]topBlogsContent4">Mosaics and Namespaces</li>
        <li id="topBlogsContent5" data-i18n="[html]topBlogsContent5">Supernodes</li>
        <li id="topBlogsContent6" data-i18n="[html]topBlogsContent6">Radicalizing the Equity Market</li>
        <li id="topBlogsContent7" data-i18n="[html]topBlogsContent7">Let's Talk Bitcoin</li>
        <li id="topBlogsContent8" data-i18n="[html]topBlogsContent8">Clarification of Developers</li>
      </ul>
    </div>
  </div>
  <!-- LOWER FOOTER -->
  <div class="lowerFooterWrap">
  <div class="lowerFooter row align-middle">
    <div class="medium-7 column">
      <i class="fa fa-copyright"></i> NEM.IO Foundation Ltd (Singapore) 2014-2017  |  All rights reserved.  | NEM<i class="fa fa-trademark"></i>

          <span class="ti-arrow-top-left"></span>
    </div>
    <div class="medium-5 column">
          <a href="https://www.facebook.com/ourNEM/"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a href="https://twitter.com/NEMofficial"><i class="fa fa-twitter-square fa-2x"></i></a>
          <a href="https://www.reddit.com/r/nem/"><i class="fa fa-reddit-square fa-2x"></i></a>
          <a href="https://github.com/NemProject"><i class="fa fa-github-square fa-2x"></i></a>
    </div>
  </div>
  </div>
</footer>
