<footer>
  <div class="row">
    <div class="column large-3 small-6 small-order-1 large-order-1">
      <ul>
        <li id="toolsList">tools</li>
        <li id="toolsContent" data-i18n="[html]toolsContent"></li>
        <li id="toolsContent2" data-i18n="[html]toolsContent2"></li>
        <li id="toolsContent3" data-i18n="[html]toolsContent3"></li>
        <li id="toolsContent4" data-i18n="[html]toolsContent4"></li>
        <li id="toolsContent5" data-i18n="[html]toolsContent5"></li>
        <li id="toolsContent6" data-i18n="[html]toolsContent6"></li>
        <li id="toolsContent7" data-i18n="[html]toolsContent7"></li>
      </ul>
    </div>
    <div class="column large-3 small-6 small-order-4 large-order-2">
      <ul>
        <li id="devResources"></li>
        <li id="devResourcesContent" data-i18n="[html]devResourcesContent"></li>
        <li id="devResourcesContent2" data-i18n="[html]devResourcesContent2"></li>
        <li id="devResourcesContent3" data-i18n="[html]devResourcesContent3"></li>
        <li id="devResourcesContent4" data-i18n="[html]devResourcesContent4"></li>
        <li id="devResourcesContent5" data-i18n="[html]devResourcesContent5"></li>
        <li id="devResourcesContent6" data-i18n="[html]devResourcesContent6"></li>
        <li id="devResourcesContent7" data-i18n="[html]devResourcesContent7"></li>
        <li id="devResourcesContent8" data-i18n="[html]devResourcesContent8"></li>
      </ul>
    </div>
    <div class="column large-3 small-6 small-order-3 large-order-3">
      <ul>
        <li id="devGuides"></li>
        <li id="devGuidesContent" data-i18n="[html]devGuidesContent"></li>
        <li id="devGuidesContent2" data-i18n="[html]devGuidesContent2"></li>
        <li id="devGuidesContent3" data-i18n="[html]devGuidesContent3"></li>
        <li id="devGuidesContent4" data-i18n="[html]devGuidesContent4"></li>
        <li id="devGuidesContent5" data-i18n="[html]devGuidesContent5"></li>
        <li id="devGuidesContent6" data-i18n="[html]devGuidesContent6"></li>
        <li id="devGuidesContent7" data-i18n="[html]devGuidesContent7"></li>
      </ul>
    </div>
    <div class="column large-3 small-6 small-order-2 large-order-4">
      <ul>
        <li id="topBlogs"></li>
        <li id="topBlogsContent" data-i18n="[html]topBlogsContent"></li>
        <li id="topBlogsContent2" data-i18n="[html]topBlogsContent2"></li>
        <li id="topBlogsContent3" data-i18n="[html]topBlogsContent3"></li>
        <li id="topBlogsContent4" data-i18n="[html]topBlogsContent4"></li>
        <li id="topBlogsContent5" data-i18n="[html]topBlogsContent5"></li>
        <li id="topBlogsContent6" data-i18n="[html]topBlogsContent6"></li>
        <li id="topBlogsContent7" data-i18n="[html]topBlogsContent7"></li>
      </ul>
    </div>
  </div>
  <!-- LOWER FOOTER -->
  <div class="lowerFooterWrap">
  <div class="lowerFooter row align-middle">
    <div class="medium-7 column">
      @NEM Project 2016
          <span class="ti-arrow-top-left"></span>
    </div>
    <div class="medium-5 column">
          <a href="https://www.facebook.com/ourNEM/"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a href="https://twitter.com/NEMofficial"><i class="fa fa-twitter-square fa-2x"></i></a>
          <a href="https://www.reddit.com/r/OurNEM/"><i class="fa fa-reddit-square fa-2x"></i></a>
          <a href="https://github.com/NemProject"><i class="fa fa-github-square fa-2x"></i></a>
    </div>
  </div>
  </div>
</footer>
