<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="med-large">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>
<div class="navWrap">
  <nav class="row">
    <div class="12-small columns">
      <div class="top-bar" id="main-menu">

        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">
              <a href="{{root}}/index.html">
                <img class="injectIt" alt="NEM Logo" src="{{root}}/assets/img/nemLogo.svg" />
              </a>
            </li>
          </ul>
        </div>

        <div class="top-bar-right">
          <ul class="menu vertical medium-horizontal" data-responsive-menu="drilldown medium-dropdown">
            <li><a href="{{root}}/install.html" id="navClient"><span>client</span></a></li>
            <li><a href="{{root}}/buy.html"><span id="navBuy">get xem</span></a></li>
            <li class="has-submenu">
              <a href="#" id="supportDropdown"><span id="navSupport">support</span></a>
              <ul class="submenu menu vertical" data-submenu>
                <li><a id="navSupportFaq" href="{{root}}/faq.html">Faq's</a></li>
                <li><a id="navSupportTutorial" href="http://blog.nem.io/nem-tutorial-list/">Tutorial</a></li>
                <li><a id="navSupportForum" href="https://forum.nem.io/">Forum</a></li>
                <li><a id="navSupportWiki" href="http://wiki.nem.io/">Wiki</a></li>
              </ul>
            </li>
            <li><a href="http://nemflash.com/"><span id="navUpdates">updates</span></a></li>
            <li><a href="http://blog.nem.io/"><span id="navBlog">blog</span></a></li>
            <li class="has-submenu">
              <a href="#" id="navLang" class="last" data-i18n="[html]navLang"></a>
              <ul class="submenu menu vertical" data-submenu>
                <li><a id="en" href="?setLng=en"><img src="{{root}}/assets/img/flags/United-States-of-America(USA).png" alt="English"/></a></li>
                <li><a id="cn" href="?setLng=cn"><img src="{{root}}/assets/img/flags/China.png" alt="Chinese"/></a></li>
                <li><a id="fi" href="?setLng=fi"><img src="{{root}}/assets/img/flags/Finland.png" alt="Finnish"/></a></li>
                <li><a id="de" href="?setLng=de"><img src="{{root}}/assets/img/flags/Germany.png" alt="Deutsch"/></a></li>
                <li><a id="ja" href="?setLng=ja"><img src="{{root}}/assets/img/flags/japan.png" alt="Japanese"/></a></li>
                <li><a id="es" href="?setLng=es"><img src="{{root}}/assets/img/flags/Spain.png" alt="Spanish"/></a></li>
                <li><a id="fr" href="?setLng=fr"><img src="{{root}}/assets/img/flags/France.png" alt="French"/></a></li>
             </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
