<section id="signup">
  <div class="row align-center">
    <div class="columns large-10">
      <h3>Subscribe to our mailing list</h3>
    </div>
  </div>
  <!-- Begin MailChimp Signup Form -->
  <!-- <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css"> -->
  <!-- <div class="columns" id="mc_embed_signup">
  <form action="//nem.us13.list-manage.com/subscribe/post?u=c83ecb5f0925803fd72f864fb&amp;id=c95b9231ca" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
  	<label for="mce-EMAIL">Subscribe to our mailing list</label>
  	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required> -->
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <!-- <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c83ecb5f0925803fd72f864fb_c95b9231ca" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div> -->
  <!-- </form> -->
  <!--End mc_embed_signup-->
  <div class="row align-center">
    <div class="columns large-6" id="mc_embed_signup">
      <form action="//nem.us13.list-manage.com/subscribe/post?u=c83ecb5f0925803fd72f864fb&amp;id=c95b9231ca" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll" class="input-group">
          <!-- <label for="mce-EMAIL">Subscribe to our mailing list</label> -->
          <input class="input-group-field" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c83ecb5f0925803fd72f864fb_c95b9231ca" tabindex="-1" value="" class="input-group-field"></div>
          <div class="input-group-button">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
        </div>
      </form>
    </div>

  </div>
</section>
