<section id="stats">
  <div class="statsInside">
    <div id="dataWrap1">
      <div id="data1">loading...</div>
      <h5 id="dataText1">full nodes online</h5>
    </div>
    <div id="dataWrap2">
      <div id="data2">loading...</div>
      <h5 id="dataText2">block height</h5>
    </div>
    <div id="dataWrap3">
      <div id="data3">loading...</div>
      <h5 id="dataText3">price (satoshis)</h5>
    </div>
    <div id="dataWrap4">
      <div id="data4">loading...</div>
      <h5 id="dataText4">latest nis version</h5>
    </div>
  </div>
</section>
