{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Official Website of NEM, the platform for XEM, a cryptocurrency with built-in Multisig, and a unique POI algorithm">
    <meta name="keywords" content="nem xem nemcoin ournem network-exchange-map crypto now-everyone-matters cryptocurrency">
    <title>NEM</title>
    <link rel="shortcut icon" href="{{root}}/assets/img/Favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{root}}/assets/img/Favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{root}}assets/css/app.css" data-skrollr-stylesheet>
  </head>
  <body id="body">

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}
    <script>

    </script>
    <script src="{{root}}assets/js/app.js"></script>
  </body>

</html>
