{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Official Website of NEM, a revolutionary Blockchain project with API Access, built-in Multisig, a unique Proof-of-Importance (POI) algorithm, and it's cryptocurrency XEM">
    <meta name="keywords" content="NEM, nem.io, xem, nemcoin, ournem, crypto, cryptocurrency, blockchain, api access blockchain, on-chain multisig, nis ncc, NEM Community Client, xem harvesting, nem community, mijin, nem catapult, catapult, proof-of-importance, poi algorithm, distributed ledger technology">
    <title>NEM - Distributed Ledger Technology (Blockchain)</title>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="NEM, a revolutionary Blockchain project"/>
    <meta property="og:title" content="NEM - Distributed Ledger Technology (Blockchain)"/>
    <meta property="og:url" content="https://www.nem.io/"/>
    <meta property="og:description" content="NEM, a revolutionary Blockchain project with API Access, built-in Multisig, a unique Proof-of-Importance (POI) algorithm, and it's cryptocurrency XEM"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:image" content="http://www.nem.io/assets/img/nemLogo.svg"/>
    <meta property="og:image:secure_url" content="https://www.nem.io/assets/img/nemLogo.svg"/>
    <meta property="og:image:type" content="image/svg"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@NEMofficial"/>
    <meta name="twitter:title" content="NEM - Distributed Ledger Technology (Blockchain)."/>
    <meta name="twitter:description" content="NEM, a revolutionary Blockchain project with API Access, built-in Multisig, a unique Proof-of-Importance (POI) algorithm, and it's cryptocurrency XEM"/>
    <meta name="twitter:image:src" content="https://pbs.twimg.com/profile_images/771559881706840064/xCRGYDQ-_400x400.jpg"/>
    <meta name="twitter:image:width" content="400"/>
    <meta name="twitter:image:height" content="400"/>
    <link rel="shortcut icon" href="{{root}}/assets/img/Favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{root}}/assets/img/Favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{root}}assets/css/app.css" data-skrollr-stylesheet>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
  </head>
  <body id="body">

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60356672-1', 'auto');
      ga('require', 'displayfeatures');
      ga('require', 'linkid');
      ga('send', 'pageview');

    </script>
    <script src="{{root}}assets/js/app.js"></script>
  </body>

</html>
